# Flutter
.dart_tool/
.packages
build/
*.iml
*.lock

# Android
android/.gradle/
android/local.properties
android/key.properties

# iOS
ios/Pods/
ios/.symlinks/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Flutter Secure Storage
flutter_secure_storage_*

# Environment / Secrets
.env
*.keystore
